.content-wrapper {
  // background-color: aqua;
  padding: 20px;
  flex-grow: 1;
  background: url(https://gas-kvas.com/uploads/posts/2023-03/1678092179_gas-kvas-com-p-fon-krasivii-odnotonnii-s-risunkom-25.jpg);
}
.user-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.error {
  font-size: 16px;
  color: red;
  font-weight: 700;
}

h2 {
  font-size: var(--font-size);
}

.description {
  color: red;
}
